body{
    background-color: darkslategray;
    font-family: monospace;
    text-align: center;
}
.container{
    background-color: whitesmoke;
}
.cabecera{
    margin: 10px;
    background-color: #C1D2DC;
    border-radius: 4px;
    padding: 15px;
    padding-top:3px;
    box-shadow: 0px 6px 18px -2px rgba(0,0,0,0.29);
}

h1{
    margin-top: 20px;
    background-color: #0F4C58;
    padding: auto ;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
}
p{
    border:2px dotted black;
    background-color: rgba(233, 230, 230, .7);
    border-radius: 4px;
    padding: 4px;
}