body{
    background-color: darkslategray;
    font-family: monospace;
    text-align: center;
}
.container{
    background-color: whitesmoke;
}
h1{
    border:1px dotted black;
}
p{
    /* border: 1px dotted black; */
}